<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FlightBooker - SkyBooker</title>
  styles.css <!-- Link to your CSS file -->
</head>
<body>
  <div class="background-overlay">
    <div class="content">
      <h1>FlightBooker: Your Trusted Partner for Hassle-Free Travel</h1>
      <p>
        FlightBooker is a digital platform dedicated to providing reliable and flexible solutions for all your travel needs.
      At the core of the platform is a diverse range of flight services tailored for travelers, each enriched with detailed
      descriptions, competitive pricing, and comprehensive terms and conditions. This wealth of information empowers users
      to make informed decisions regarding their travel plans, ensuring that the chosen flights align seamlessly with their
      schedules and budget. FlightBooker is designed to support travelers in their pursuit of unforgettable journeys by
      offering access to a variety of flight options specifically curated for optimal convenience and satisfaction.
      </p>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 SkyBooker. All rights reserved.</p>
    <ul class="footer-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/flight-list">Book a Flight</a></li>
      <li><a routerLink="/my-history">My History</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ul>
  </footer>
</body>
</html>